$color1: #E9EFEC;
$color2: #2C363F;

.body {
    background-color: $color1;
    color: $color2;
    font-family: "Plus Jakarta Sans", sans-serif;
    overflow-x: hidden;
    margin: 0;
}

.active {
    border-bottom: 2px solid $color2;
    color: $color2;
  }