@import "@/app/globals.scss";

.content, .darkContent {
    color: $color1;
    align-self: start;

    @media (max-width: 767px) {
        align-self: center;
        text-align: center;
    }

    .bar{
        width: 150px;
        height: 8px;
        background-color: $color1;
        margin-bottom: 20px;

        @media (max-width: 767px) {
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.5rem;
        margin: 0;
        text-transform: uppercase;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
}

.darkContent {
    color: $color2;

    .bar {
        background-color: $color2;
    }
}