@import "@/app/globals.scss";

.section {
    max-width: 100%;
    height: calc(100vh - 80px);
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 50px;

    @media (max-width: 767px) {
        flex-direction: column-reverse;
        padding: 0 20px;
        gap: 20px;
    }

    @media (min-width: 426px) and (max-width: 767px) {
        padding: 0 40px;
    }

    .text {
        width: 45%;
        max-width: 700px;

        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .bar {
            width: 150px;
            height: 5px;
            background-color: $color2;
            margin-bottom: 20px;

            @media (max-width: 767px) {
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }

        h1 {
            font-weight: 700;
            font-size: 4.5rem;
            line-height: 4rem;
            margin: 0;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 3.875rem;
                line-height: 3.5rem;
            }

            @media (max-width: 767px) {
                font-size: 3rem;
                line-height: 3rem;
            }

            @media (max-width: 425px) {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 300;

            @media (min-width: 426px) and (max-width: 1024px) {
                font-size: 1.25rem;
            }

            @media (max-width: 425px) {
                font-size: 1rem;
            }
        }

        button {
            background-color: $color2;
            color: $color1;
            border: none;
            padding: 20px 20px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "Plus Jakarta Sans", sans-serif;
            cursor: pointer;
            margin-bottom: 20px;

            @media (min-width: 768px) and (max-width: 1024px) {
                padding: 15px 20px;
            }

            @media (max-width: 767px) {
                padding: 12px 20px;
                max-width: 200px;
                align-self: center;
            }
        }

        .follow {
            display: flex;
            flex-direction: column;
            gap: 5px;

            @media (max-width: 767px) {
                align-items: center;
            }

            p {
                font-weight: 600;
                margin: 0;
                margin-bottom: 5px;
            }

            div {
                display: flex;
                gap: 10px;
            }
        }
    }

    .image {
        width: 45%;
        height: 100%;
        position: relative;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .mobileImage {
        background-image: url("/images/intro.png");
        width: 150px;
        height: 150px;
        background-size: cover;
        border-radius: 100%;
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }
}